<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head');%>
    <body class="container">
        <%- include('../partials/header',{pagina:'about'});%>
        <main class="jumbotron">
            <h1> Sobre mim </h1>
            <p>Ola, sou wesley, dev de programação web</p>
        </main>
        <%- include('../partials/footer');%>
    </body>
</html>